<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Ping Pong!</title>
</head>
<body>
    <div class="container">
        <h1>Your result:</h1>
        <ul>
            {% for key in result %}
                <li>{{ key }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
